<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
        <div class="row wrapper border-bottom white-bg page-heading p-sm">
            <div class="col-sm-6">
                <span class="lead m-r-sm m-b-none">Activity</span>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>File monitor</h5>
                        </div>
                        <div class="ibox-content" ng-init="getActivity()">
                            <table id="activity-table" class="table" data-paging="true" data-sorting="true" data-filtering="true" data-state="true"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
