 <!-- Wrapper -->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-controller="statsCtrl">

        <!-- Main view  -->
        <div class="row wrapper border-bottom white-bg page-heading p-sm">
            <div class="col-sm-6">
                <span class="lead m-r-sm m-b-none">Statistics</span>
            </div>
            <!-- <div class="col-sm-6">
                <span class="lead m-r-sm m-b-none">Period</span>
            </div>
            <div class="col-sm-6">
                <div data-toggle="buttons" class="btn-group pull-right">
                    <label class="btn btn-sm btn-white" ng-class="{active: period == 'day'}" ng-click="period = 'day'"> <input type="radio" name="options" ng-model="period" value="day"> Day </label>
                    <label class="btn btn-sm btn-white" ng-class="{active: period == 'week'}" ng-click="period = 'week'"> <input type="radio" name="options" ng-model="period" value="week"> Week </label>
                    <label class="btn btn-sm btn-white" ng-class="{active: period == 'month'}" ng-click="period = 'month'"> <input type="radio" name="options" ng-model="period" value="month"> Month </label>
                </div>
            </div> -->
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Volume</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-8" id="chart-volume" ng-init="getVolumes()"></div>
                                <div class="col-lg-4" ng-init="getStats()">
                                    <ul class="stat-list">
                                        <li>
                                            <h2 class="no-margins">{{stats.before * 100 | number:2}}</h2>
                                            <small>Accuracy before feedback</small>
                                            <!-- <div class="stat-percent">{{stats.before * 100 | number:0}}% <i class="fa fa-level-up text-navy"></i></div> -->
                                            <div class="progress progress-mini">
                                                <div style="width: {{stats.before * 100 | number:0}}%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h2 class="no-margins ">{{stats.after * 100 | number:2}}</h2>
                                            <small>Accuracy after feedback</small>
                                            <!-- <div class="stat-percent">{{stats.after * 100 | number:0}}% <i class="fa fa-level-down text-danger"></i></div> -->
                                            <div class="progress progress-mini">
                                                <!-- <div style="width: {{stats.after * 100 | number:0}}%;" class="progress-bar progress-bar-danger"></div> -->
                                                <div style="width: {{stats.after * 100 | number:0}}%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="identityCtrl">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h3 class="text-center">Accuracy</h3>
                            </div>
                            <div class="ibox-content">
                                <div id='accuracy-chart' style='height: 300px;' ng-init='getAccuracy()'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-init="getTimings()">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h1>Lead time</h1>
                        </div>
                        <div class="ibox-content">
                            <span class="lead">{{timings.lead | number:0}}s</span>
                            <!-- <div class="stat-percent text-navy">3%<i class="fa fa-level-up text-navy"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h1>Processing time</h1>
                        </div>
                        <div class="ibox-content">
                            <span class="lead">{{timings.processing | number:0}}s</span>
                            <!-- <div class="stat-percent font-bold text-danger">56%<i class="fa fa-bolt"></i></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper -->
