.dropdown-menu {
    left: 10px;
    /*min-width: 320px;*/
}

.dropdown-menu>li>a {
    text-align: center;
}

.daterangepicker_input i {
    position: absolute;
    left: 20px;
    top: 11px;
}

.daterangepicker_input > input {
    padding-left: 30px;
    /*min-width: 215px;*/
}

.daterangepicker_input > input:focus {
    border-color: #8c8c8c;
}

.page-heading {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.page-heading + div {
    padding-top: 95px;
}

span.filter-bar {
    float: left;
}

.filter-group-right {
    height: 392px;
    border-top: solid #e7eaec 2px;
    padding: 15px;
    max-width: 16%;
    float: right;
}

/*.btn-group span.caret {*/
    /*float: right;*/
    /*margin-top: 8px;*/
/*}*/

.btn-group[uib-dropdown], .btn-group.daterangepicker_input {
    padding-left: 10px;
}

/*.btn-group button[uib-dropdown-toggle] {*/
    /*width: 320px;*/
/*}*/

.filter-group-right input.form-control {
    width: 96px;
    display: inline;
    margin: 15px 0px 15px 15px;
}

.c3-ygrid-line line {
    stroke: red !important;
    stroke-width: 2px;
}

.c3-grid text {
    fill: red;
    font-size: 14px;
}

.nav-docids button {
    min-width: 162px;
    margin-right: 60px;
}

.irs-slider {
    width: 15px !important;
    background: transparent !important;
    border: 0px !important;
    box-shadow: none !important;
}

.irs-single {
    top: 28px !important;
}

.slider-container {
    width: calc((100% - 85px) * 10 /11);
    margin-left: 150px;
}

.slider-title {
    float: left;
    padding-top: 60px;
    padding-right: 5px;
    width: 150px;
    text-align: right;
}

.slider-header-title {
    float: left;
    padding-top: 28px;
    padding-right: 5px;
    width: 150px;
    text-align: right;
}

/*.ibox-content > div:last-child > div > div {*/
    /*height: 70px !important;*/
/*}*/


/*.irs {*/
    /*left: 30px !important;*/
/*}*/
