<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Dropzone.js</h5>
      </div>
      <div class="ibox-content">
        <p>
          <strong>Dropzone.js</strong> is a light weight JavaScript library that turns an HTML element into a dropzone. This means that a user can drag and drop a file onto it, and the file gets uploaded to the server via AJAX.
        </p>
        <form action="#" class="dropzone dz-clickable" id="dropzoneForm">
          <div class="dz-default dz-message" onclick="document.getElementById('dropzoneForm').children[1].click()">
            <span><strong>Drop files here or click to upload. </strong><br> (This is just a demo dropzone. Selected files are not actually uploaded.)</span>
          </div>
          <input class="hidden" name="file" type="file" multiple />
        </form>
      </div>
    </div>
  </div>
</div>
